#lombok.nonNull.exceptionType = IllegalArgumentException
#lombok.nonNull.flagUsage = error

#lombok.anyConstructor.addConstructorProperties = true
#lombok.allArgsConstructor.flagUsage = error
#lombok.requiredArgsConstructor.flagUsage = error
#lombok.noArgsConstructor.flagUsage = error
#lombok.anyConstructor.flagUsage = error
#lombok.copyableAnnotations = [A list of fully qualified types]

#lombok.val.flagUsage = warning
#lombok.var.flagUsage = warning
#lombok.cleanup.flagUsage = warning
#lombok.sneakyThrows.flagUsage = warning
#lombok.getter.lazy.flagUsage = warning
#lombok.synchronized.flagUsage = warning
#lombok.with.flagUsage = warning

#lombok.log.fieldName = log
#lombok.log.fieldIsStatic = false
#lombok.log.custom.declaration = LoggerType
#lombok.log.flagUsage = warning
#lombok.log.custom.flagUsage = warning
#lombok.log.apacheCommons.flagUsage = warning
#lombok.log.flogger.flagUsage = warning
#lombok.log.jbosslog.flagUsage = warning
#lombok.log.javaUtilLogging.flagUsage = warning
#lombok.log.log4j.flagUsage = warning
#lombok.log.log4j2.flagUsage = warning
#lombok.log.slf4j.flagUsage = warning
#lombok.log.xslf4j.flagUsage = warning