#lombok.nonNull.exceptionType = IllegalArgumentException
#lombok.nonNull.flagUsage = error

#lombok.anyConstructor.addConstructorProperties = true
#lombok.allArgsConstructor.flagUsage = error
#lombok.requiredArgsConstructor.flagUsage = error
#lombok.noArgsConstructor.flagUsage = error
#lombok.anyConstructor.flagUsage = error
#lombok.copyableAnnotations = [A list of fully qualified types]

#lombok.val.flagUsage = warning
#lombok.var.flagUsage = warning
#lombok.cleanup.flagUsage = warning
#lombok.sneakyThrows.flagUsage = warning
#lombok.getter.lazy.flagUsage = warning